<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">

    <!-- Log file path -->
    <property name="log.path" value="logs/seq-test" />
    <!-- 打印sql语句 需要指定dao层包的位置 -->
    <property name="mapper.package" value="com.haylou.mapper" />

    <!-- Console log output -->
    <appender name="console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} %-5level [%logger{50}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Log file debug output -->
    <appender name="fileRolling_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM-dd}/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level [%logger{50}] %file:%line - %msg%n
            </pattern>
        </encoder>
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter"> <level>ERROR</level>
            <onMatch>DENY</onMatch> <onMismatch>NEUTRAL</onMismatch> </filter> -->
    </appender>
    <!-- Log file error output -->
    <appender name="fileRolling_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM-dd}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level [%logger{50}] %file:%line - %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- Level: FATAL 0 ERROR 3 WARN 4 INFO 6 DEBUG 7 -->

    <!--dao层包下的类的日志输出-->
    <logger name="${mapper.package}" additivity="false" level="DEBUG">
        <appender-ref ref="fileRolling_info" />

        <appender-ref ref="fileRolling_error" />

        <appender-ref ref="console" />
    </logger>


    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="fileRolling_info" />

            <appender-ref ref="fileRolling_error" />

            <appender-ref ref="console" />
        </root>
    </springProfile>

    <!--    <springProfile name="test">-->
    <!--        <root level="info">-->
    <!--            <appender-ref ref="CONSOLE" />-->
    <!--            <appender-ref ref="DEBUG_FILE" />-->
    <!--            <appender-ref ref="INFO_FILE" />-->
    <!--            <appender-ref ref="WARN_FILE" />-->
    <!--            <appender-ref ref="ERROR_FILE" />-->
    <!--            <appender-ref ref="ALL_FILE" />-->
    <!--        </root>-->
    <!--        <logger name="com.xusanduo.demo" level="info"/> &lt;!&ndash; 测试环境, 指定某包日志为info级 &ndash;&gt;-->
    <!--    </springProfile>-->

    <!--    <springProfile name="pro">-->
    <!--        <root level="info">-->
    <!--            &lt;!&ndash; 生产环境最好不配置console写文件 &ndash;&gt;-->
    <!--            <appender-ref ref="DEBUG_FILE" />-->
    <!--            <appender-ref ref="INFO_FILE" />-->
    <!--            <appender-ref ref="WARN_FILE" />-->
    <!--            <appender-ref ref="ERROR_FILE" />-->
    <!--            <appender-ref ref="ALL_FILE" />-->
    <!--        </root>-->
    <!--        <logger name="com.xusanduo.demo" level="warn"/> &lt;!&ndash; 生产环境, 指定某包日志为warn级 &ndash;&gt;-->
    <!--        <logger name="com.xusanduo.demo.MyApplication" level="info"/> &lt;!&ndash; 特定某个类打印info日志, 比如application启动成功后的提示语 &ndash;&gt;-->
    <!--    </springProfile>-->

</configuration>